@import "tailwindcss";

@theme {
  --font-sans: "Inter Variable", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply font-sans bg-gray-100 dark:bg-slate-900 dark:text-gray-300 relative;
  height: 100dvh;
}

.preview :is(h1, h2, h3, h4, h5, h6) {
  @apply font-bold;
}

.preview
  :is(
    header,
    footer,
    figure,
    video,
    details,
    blockquote,
    ul,
    ol,
    dl,
    fieldset,
    pre,
    pre > code
  ) {
  display: block;
  margin: 0.5rem 0 1rem;
  width: 100%;
  overflow: auto hidden;
  text-align: left;
}

.preview h1 {
  @apply text-3xl;
}

.preview h2 {
  @apply text-2xl;
}
.preview h3 {
  @apply text-xl;
}

.preview h4 {
  @apply text-lg;
}

.preview h6 {
  @apply italic;
}

.preview :is(ul) {
  list-style: disc;
}

.preview ol {
  list-style: decimal;
}

.preview :is(ol, ul, dl) {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
}

.preview p {
  line-height: 1.6;
}

.preview blockquote {
  border-left: 0.4rem solid gray;
  padding: 0 0 0 0.4rem;
}

.preview pre > code {
  @apply p-4 bg-gray-200/60 dark:bg-gray-700/50;
}
